.girl{
    display: flex;
}
.texth{
    margin-top: 150px;
    padding-left: 150px;
    color: rgb(54, 120, 54);
    text-transform: capitalize;
}
.textp{
 
    padding-left: 150px;
}
.pic{
    padding-left: 150px;
}

#btn{
    color: white;
    margin-top: 57px;
    margin-bottom: 0px;
    background-color:rgb(50, 106, 73);
    border: 2px solid rgb(50, 106, 73);
    padding: 6px 40px;
    border-radius: 25px;
    text-transform: capitalize;
    font-weight: 700;

}
#btnn{
    background-color: white;
    color: rgb(45, 105, 42);
 
    margin-top: 57px;
    margin-bottom: 0px;
 
    padding: 6px 35px;
    border-radius: 33px;
    text-transform: capitalize;
    font-weight: 700;
}
.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
   
}
.img{
  
    margin-top: 10px;
 
}
.subject-text{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 50px;
}
.tutors{
    color: rgb(30, 128, 30);
}
.containerr{
    background: linear-gradient(to left, #006600 0%, #ffffcc 100%);
}
.offer{
    display: flex;
 flex-wrap: wrap;
 margin-left: 40px;
}
.offer-text{
    text-align: center;
    font-weight: 700;
    font-family: bold;
    text-transform: capitalize;
    margin-top: 80px;
    margin-bottom: 20px;
}
.offer img{
    margin-left: 30px;
 
}
.offer div{
    margin-bottom: 70px;
}
.bangla-text{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}